In [44]:
# 1. Create a string with your name and print it.
x=input("Please Enter Your Name: ")
print(x)

Please Enter Your Name: Rajdeep Saha
Rajdeep Saha

In [45]:
# 2. Find the length of the string "Hello World"
len("Hello World")

11

In [46]:
# 3. Slice the first 3 characters from "Python Programming"
"Python Programming"[0:3]

'Pyt'

In [47]:
# 4. Convert "hello" to uppercase.
print("hello".upper())

HELLO

In [48]:
# 5. Replace "apple" with "orange" in "I like apple".
y= "I like Apple"
print(y.replace("Apple","Orange"))

I like Orange

In [49]:
# 6. Create a list with numbers 1 to 5 and print it.
z=[1,2,3,4,5]
print(z)

[1, 2, 3, 4, 5]

In [50]:
# 7. Append the number 10 to the list [1, 2, 3, 4].
z1=[1,2,3,4]
z1.append(10)
print(z1)

[1, 2, 3, 4, 10]

In [51]:
# 8. Remove the number 3 from [1, 2, 3, 4, 5].
z2=[1,2,3,4,5]
z2.remove(3)
print(z2)

[1, 2, 4, 5]

In [52]:
# 9. Access the second element in ['a', 'b', 'c', 'd'].
z3=['a','b','c','d']
print(z3[1])

b

In [53]:
# 10. Reverse the list [10, 20, 30, 40, 50].
z4=[10,20,30,40,50]
z4.reverse()
print(z4)

[50, 40, 30, 20, 10]

In [54]:
# 11. Create a tuple with elements 100, 200, 300 and print it.
z5=(100,200,300)
print(z5)

(100, 200, 300)

In [55]:
# 12. Access the second-to-last element of ('red', 'green', 'blue', 'yellow').
z6=('red','green','blue','yellow')
print(z6[-2])

blue

In [56]:
# 13. Find the minimum number in (10, 20, 5, 15).
z7=(10,20,5,15)
print(min(z7))

5

In [57]:
# 14. Find the index of "cat" in ('dog', 'cat', 'rabbit').
z8=('dog','cat','rabbit')
print(z8.index('cat'))

1

In [58]:
# 15. Create a tuple with 3 fruits and check if "kiwi" is in it.
z9=('apple','banana','cherry')
print('kiwi' in z9)

False

In [59]:
# 16. Create a set with {'a', 'b', 'c'} and print it.
z10={'a','b','c'}
print(z10)

{'a', 'b', 'c'}

In [60]:
# 17. Clear all elements from {1, 2, 3, 4, 5}.
z11={1,2,3,4,5}
z11.clear()
print(z11)

set()

In [61]:
# 18. Remove 4 from {1, 2, 3, 4}.
z12={1,2,3,4}
z12.remove(4)
print(z12)

{1, 2, 3}

In [62]:
# 19. Find the union of {1, 2, 3} and {3, 4, 5}.
z13={1,2,3}
z14={3,4,5}
print(z13.union(z14))

{1, 2, 3, 4, 5}

In [63]:
# 20. Find the intersection of {1, 2, 3} and {2, 3, 4}.
z15={1,2,3}
z16={2,3,4}
print(z15.intersection(z16))

{2, 3}

In [64]:
# 21. Create a dictionary with keys "name", "age", "city".
z17={'name':'John','age':25,'city':'New York'}
print(z17)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [65]:
# 22. Add "country": "USA" to {'name': 'John', 'age': 25}.
z18={'name':'John','age':25}
z18['country']='USA'
print(z18)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [66]:
# 23. Access "name" from {'name': 'Alice', 'age': 30}.
z19={'name':'Alice','age':30}
print(z19['name'])

Alice

In [67]:
# 24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}.
z20={'name':'Bob','age':22,'city':'New York'}
del z20['age']
print(z20)

{'name': 'Bob', 'city': 'New York'}

In [68]:
# 25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}.
z21={'name':'Alice','city':'Paris'}
print('city' in z21)

True

In [69]:
# 26. Create a list, tuple, and dictionary, and print them.
z22=[1,2,3]
z23=(4,5,6)
z24={'name':'John','age':25}
print(z22)
print(z23)
print(z24)

[1, 2, 3]
(4, 5, 6)
{'name': 'John', 'age': 25}

In [70]:
# 27. Create a list of 5 random numbers between 1–100, sort, and print it.
import random
z25=random.sample(range(1,101),5)
z25.sort()
print(z25)

[14, 19, 32, 80, 96]

In [71]:
# 28. Create a list with strings and print the element at index 3.
z26=['apple','banana','cherry','date']
print(z26[3])

date

In [72]:
# 29. Combine two dictionaries and print the result.
z27={'name':'John','age':25}
z28={'city':'New York','country':'USA'}
z27.update(z28)
print(z27)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [73]:
# 30. Convert a list of strings into a set.
z29=['apple','banana','cherry']
z30=set(z29)
print(z30)

{'apple', 'cherry', 'banana'}